html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  width: 100%; 
  height: 100%; 
  font-family: "SF Pro Text", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', Inter, 'Helvetica Neue', sans-serif;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><circle cx="12" cy="12" r="9" fill="%23FF0000" stroke="%23FF0000" stroke-width="2"></circle></svg>') 12 12, auto;
  
  
  /* texture attempts */
  background-image: url('/portfolio/Assets/images/scan_texture.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; /* Keeps it in place while scrolling */

}
/* texture attempts */
body {
  z-index: -1;
  opacity: 0.92; 
  filter: blur(px) brightness(0.9);
}


.page-content {
  display: flex;
  flex-direction: row;
  width: 100%; 
  min-height: 100vh; 
}

.left-frame {
  width: 50%; 
  background-color: #EBE4CE;
  
  display: flex; 
  
}

ul {
  list-style: none;
}

.dot {
  height: 15px;
  width: 15px;
  margin-left: 2px;
  background-color: #000000;
  border-radius: 50%;
  justify-items: center;
  display: inline-block;
  margin-left: 10%;
  
}


/* hover styles for LI */
.project-item:hover {
  color: red;
  transform: scale(1.1);
  
}

.right-frame {
  width: 50%; 
  background-color: #a5c067;
 
  display: flex; 
  flex-direction: column;
  
}

/* Inside left frame */

#index-box {
  border-style: 2px solid black;
  width: 50%;
  margin-top: 50%;
  font-size: 32px;
  margin-left: 20px;
}

#project-box {
  width: 50%;
  margin-top: 50%;
  font-size: 32px;
  margin-right: 50px;
}

/* Inside right frame */

#intro-div {
  height: 50px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  font-size: 48px;
  margin-top: 25px;
  
}

#text-box {
  /* font style */
  
  margin: 0; /* Remove unnecessary margins */
  text-align: center; /* Center text inside the box */
  
}

#about {
  padding: 10px;
  width: 50%;
  display: flex;

  font-size: 16px;
  margin-top: 25px;
  margin-left: auto;
}

#about-text-box {
  
  margin-top: 175px;
  width: 80%;
  text-align: justify;
}


/*  video test */

/* .video-container {
  position: relative;
  margin: 20px;
}

.video-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.video-preview {
  position: absolute;
  width: 300px;
  height: auto;
  display: none;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  top: 30px; 
  left: 10px;
} */